{erl_opts, []}.

{project_plugins, [{erlfmt, "~> 1.0"}]}.

{minimum_otp_version, "22.1"}.

{escript_main_app, ierl}.
{escript_name, "ierl"}.

{dialyzer, [
    {plt_apps, all_deps},
    {exclude_apps, [lfe]}
]}.

{erlfmt, [
    check,
    verbose,
    {files, [
        "apps/*/{src,include}/*.{hrl,erl,app.src}",
        "rebar.config",
        "apps/*/rebar.config"
    ]}
]}.
